<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{org_name.0}}.{{org_name.1}}.{{org_name.2}}">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
